body {
    margin: 0;    
    padding: 0;                     
    background-color: #ffffff;         
    color: #222;
    font-family: Arial, Helvetica, sans-serif;
}


.banner {
    background: #1e90ff;
    color: white;
    text-align: center;
    padding: 0px 10px 60px 10px;
    margin: 0;

}

.banner h1 {
    font-family: "Georgia", "Times New Roman", serif;  
    font-size: 2.2em;
    margin: 0 0 30px 0;
}

.banner p {
    margin: 0;
}


.page-box {
    background-color: #f0f0f0;      /* 這個就是中間那塊灰色 */
    width: 100%;
    margin: 0 auto 40px auto;       /* 上方緊接藍色，下方留一點空間 */
    padding-bottom: 40px;
}

/* === 導覽列 === */
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #003366;   /* 黑色底，文字才清楚 */

    justify-content: space-around;
    position: relative;
    top: 0em;
    left: 0em;
    width: 100%;
    height: 25px;

    display: flex;
    align-items: center;
}

.navbar li {
    list-style: none;
   float: none;
}

.navbar li a,
.navbar .dropbtn {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
}

.navbar li a:hover,
.navbar li:hover .dropbtn {
    color: #99ccff;
}

.dropdown {
    position: relative;
}



.dropdown-content {
    display: none;
    position: absolute;
    background-color: #003366;
    min-width: 12em;
    z-index: 1;
    padding: 0;
}

.dropdown-content li a {
    display: block;
    padding: 10px 15px;
    color: white;
}

.dropdown-content li a:hover {
    background-color: #002244;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* === 內文區 === */
.content {
    clear: both;             
    padding: 15px 20px;
}


@media all {
    body {
        font-size: 16px;
    }
}

@media print {
    body {
        background-color: white;
        color: black;
    }
    .banner {
        background: white;
        color: black;
    }
    .navbar {
        display: none;        
    }
}